.valencia-digital-summit{
    position: relative;
    display: flex;
    justify-content:  flex-start;
    align-items: center; 
    padding: 8px;
    width: 400px;  /* Фіксуємо однакову ширину */
  min-width: 300px; /* Запобігає надто малим розмірам */
    background-image: url('/assets/metaengaAwards/BG.png');
    background-repeat: no-repeat;  
    background-size: cover;
    border: 2px solid #DAD8FF;
    border-radius: 8px;
  }

  .valencia-digital-summit__text::before {
    content: attr(data-default); /* За замовчуванням відображаємо основний текст */
  }

  .valencia-digital-summit__content {
    display: flex;
    flex-direction: column; /* Розташування елементів один під одним */
}

.valencia-digital-summit__vds {
  display: flex; 
  margin-top: 4px;
}

  .valencia-digital-summit__trophy-icon{
    height: 64px;
    width: auto;
    margin-right: 11px;
  }

  .valencia-digital-summit__metaenga img{
    height: 43px;
    width: auto;
    align-items: center;
  }

  .valencia-digital-summit__divider {
    width: 1px; 
    height: 16px; 
    background-color: var(--field-color);
    margin: 0 4px 0 9px; 
    border-radius: 22px;
  }
 
  .valencia-digital-summit__brand-name {
    display: flex;
    align-items: flex-end;
  }

.valencia-digital-summit__metaenga img,
.valencia-digital-summit__brand-name img {
  width: auto;
  height: 27px;
}

  .valencia-digital-summit__vds p{
    color: var(--fieldhover-color);
    font-size: 14px;
    font-weight: 500;
    margin-left: 9px;
     margin-top: auto; /* Відсуваємо текст вниз */
    text-align: left; /* Вирівнюємо текст */
  }
  .valencia-digital-summit__metaenga p{
    color: var(--mid__header);
    font-size: 24px;
    font-weight: 700;
    margin-left: -2px;
  }

  @media (max-width: 991.5px)
  {

    .valencia-digital-summit {
      width:340px
    }

    .valencia-digital-summit__trophy-icon{
      height: 40px;
      width: auto;
      margin-right: 6px;
    }

    .valencia-digital-summit__trophy{
      display: flex;
      align-items: center;
    }

    .valencia-digital-summit__metaenga img{
      height: 34.5px;
      width: auto;
    }

    .valencia-digital-summit__metaenga p {
      font-size: 20px;
    }

    .valencia-digital-summit__vds p{
      font-size: 14px;
    }

    .valencia-digital-summit__brand-name img{
      height: 17px;
      width: auto;
    }
  
  }

  @media (max-width: 369.5px)
  {
    .valencia-digital-summit {
      width:328px;
    
    }

    .valencia-digital-summit__text::before {
      content: attr(data-alt); 
    }
    
    .valencia-digital-summit__trophy-icon{
      height: 60px;
      width: auto;
      margin-right: 6px;
    }

    .valencia-digital-summit__trophy{
      display: flex;
      align-items: center;
    }

    .valencia-digital-summit__vds {
      display: flex; flex-direction: column;
    }

    .valencia-digital-summit__vds p{
      margin-top:2px;
      margin-left: 0px;
    }

  }
/* 
  @media (max-width: 757.5px){
  
    .valencia-digital-summit{
      max-width: 600px;
      padding: 8px 38px;
      background-image: url('/assets/metaengaAwards/BG_new.png'); 
      background-size: 105%;
      background-position: center; 
    }

    .valencia-digital-summit__metaenga img{
      height: 30.5px;
      width: auto;
    }

    .valencia-digital-summit__brand-name img{
      height: 28px;
      width: auto;
    }

    .valencia-digital-summit__trophy-icon{
      margin-right: 18px;
    }

  } */
/* 
  @media (max-width: 662.5px){

    .valencia-digital-summit{
      max-width: 100%;
      border-radius: 10px;
      padding: 8px 18px;
      width: 100%;        
      max-width: none;     
    }

    .valencia-digital-summit__trophy-icon{
      height: 74px;
      width: auto;
    }

    .valencia-digital-summit__metaenga img{
      height: 24.5px;
      width: auto;
    }

    .valencia-digital-summit__brand-name img{
      height: 22px;
      width: auto;
    }
    .valencia-digital-summit__metaenga p,
    .valencia-digital-summit__vds p{
      font-size: 16px;      
    }

    .valencia-digital-summit__divider {
      height: 60px; 
    }
  } */


  /* @media (max-width: 536.5px){

      .valencia-digital-summit__content {
      flex-direction: column; 
      align-items: center;
    }
     .valencia-digital-summit__content {
      flex-direction: column; 
      align-items: center;
    }
  
    .valencia-digital-summit__divider {
      display: none; 
    }

    .valencia-digital-summit__trophy-icon{
      height: 74px;
      width: auto;
    }

    .valencia-digital-summit__metaenga img{
      height: 22.5px;
      width: auto;
    }

    .valencia-digital-summit__brand-name img{
      height: 20px;
      width: auto;
      margin-top: 1px;
    }

    .valencia-digital-summit__content {
      flex-direction: column; 
      align-items: center;
    }

    .valencia-digital-summit__vds p{
      margin-top: 0px;
      font-size: 16px;
      margin-right: 20px;
      
    }

    .valencia-digital-summit__vds{
      margin-right: 8px;
    }


    .valencia-digital-summit__metaenga p{
      margin-left: -1px;
      font-size: 18px;
    } 

  } */