.sales__bg {
	position: relative;
	background-color: #fff;
}

.sales__bg::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 50%;
	background: linear-gradient(108deg,
			rgba(0, 93, 255, 0.01) 1.19%,
			rgba(0, 93, 255, 0.10) 96.35%), rgba(255, 255, 255, 0.60);
	backdrop-filter: blur(30px);
	z-index: 0;
}

.sales {
	display: flex;
	width: 100vw;
}

.sales__img {
	position: relative;
	min-height: 100vh;
}

.sales__sticky>img {
	max-width: 520px;
	height: fit-content;
	object-fit: contain;
	display: block;
	margin: 0 auto;
}

.sales__sticky {
	position: sticky;
	top: 135px;
	margin-bottom: 80px;
}

.sales__img,
.sales__form {
	flex-basis: 50%;
}

.sales__logos-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	height: 50px;
	margin: 0 -11px;
	max-width: 740px;
	margin-bottom: 30px;
}


.sales__logo {
	/* max-width: 215px; */
	height: 100%;
	margin: 0 11px;
}

.sales__logo img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.sales__logos-title {
	text-align: center;
	margin-bottom: 18px;
}

@media (max-width: 1720.5px) {
	.sales__sticky>img {
		max-width: 450px;
	}

	.sales__sticky {
		top: 150px;
	}
}


@media (max-width: 1600.5px) {
	/* .sales__logo{
		max-width: 190px;
	} */

	.sales__sticky {
		position: sticky;
		top: 80px;
	}

	.sales__logos-container {
		height: 50px;
	}
}

@media (max-width: 1440.5px) {
	.sales__logo.hidden-1440 {
		display: none;
	}

	.sales__logos-container {
		height: 50px;
	}

}


@media (max-width: 1200.5px) {
	.sales__sticky>img {
		max-width: 392px;
	}

	.sales__sticky {
		top: 70px;
		margin-bottom: 70px;
	}

	.sales__logos-container {
		margin: 0 auto;
	}

}

@media (max-width: 1070.5px) {
	.sales__logo.hidden-1070 {
		display: none;
	}

	.sales__logos-container {
		height: 50px;
		max-width: 495px;
	}

}

@media (max-width: 991.5px) {
	.sales__img {
		display: none;
	}

	.sales__bg::before {
		display: none;
	}

	.sales__form {
		flex-basis: 100%;
	}
}