.promo {
  position: relative;
  width: 100%;
  height: calc(100dvh - 70px);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
}
.promo__arrow {
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2; 
  pointer-events: none;
  bottom: 3px;
}




.promo__overlay {
  display: flex;
  align-items: center;
  background: rgba(46, 58, 75, 0.93);
  border-radius: 12px 12px 0 0;
  padding: 32px;
  margin-bottom: 0; 
  display: flex;
  justify-content: space-between;
  gap: 40px;
  box-sizing: border-box;
  z-index: 2;
  width: 100%;
  max-width: 1520px;
}

.promo__image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.promo__left {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.promo__logoRow {
  display: flex;
  align-items: center;
  gap: 11px;
}

.promo__logoRow img {
  width: 56px;
  height: 56px;
}

.promo__company {
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}

.promo__title {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
}

.promo__right {
  flex: 1 1 50%;
  display: block;
  align-items: center; 
}

.promo__desc {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}

.promo__titleMobile {
  display: none;
}

@media (max-width: 1500px) {
  .promo__desc {
    font-size: 16px;

  }
  .promo__overlay {
    gap: 30px;
  }

}

@media (max-width: 991px) {
  .promo__overlay {
    position: absolute;
    inset: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 64px 16px 32px;
    text-align: center;
    gap: 16px;
    background: none; /* прибираємо фоновий градієнт */
  }

  .promo__overlay::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    z-index: -1; /* розміщуємо градієнт позаду тексту */
  }

  .promo__right {
    display: none;
  }
  
    .promo__left {
    width: 100%;
    max-width: 100%;
    flex: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
  }

  .promo__titleFull {
    display: none;
  }

  .promo__titleMobile {
    display: inline;
  }

  .promo__logoRow {
    justify-content: center;
  }

  .promo__logoRow img {
    width: 48px;
    height: 48px;
  }

}

